@import 'tailwindcss';

@theme {
	--color-button-bg-primary: #c9f9fc;
	--color-button-bg-secondary: #fbb500;
	--color-board-bg-secondary: #ffffff;
	--color-border: #000000;
	--color-light-gray: #ebebeb;
	--color-cover: #3d7ad6;
	--font-inter: 'Inter', sans-serif;
}

@layer utilities {
	.shadow-solid-board {
		box-shadow: -4px 4px rgba(0, 0, 0, 1);
	}
	.shadow-solid-action {
		box-shadow: -2px 2px rgba(0, 0, 0, 1);
	}
}
